Use reserved documentation names and addresses where possible

[RFC 3849](https://datatracker.ietf.org/doc/html/rfc3849), [RFC 5737](https://datatracker.ietf.org/doc/html/rfc5737) and [RFC 2606](https://datatracker.ietf.org/doc/html/rfc2606) specify reserved IPv6 addresses, IPv4 addresses, and DNS names for use in documentation.

Rather than using a mix of RFC 1918 addresses, IPv6 ULAs, and non-reserved addresses (e.g. 1.2.3.4, as seen in [kubeadm join's documentation](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/), which I at first didn't register as an IP address at all), please adopt a standard convention of using subdomains of `example.com` where a hostname may be used, and appropriate documentation IP addresses (`192.0.2.0/24`, `198.51.100.0/24`, `203.0.113.0/24` and `2001:db8::/32`) where an IP address *must* be specified in examples.

Obviously, this does not apply in cases where `127.0.0.0/8` is explicitly appropriate.

This issue is currently awaiting triage.

SIG Docs takes a lead on issue triage for this website, but any Kubernetes member can accept issues by applying the `triage/accepted` label.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.


<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>

Without manually perusing or a very complex regex it is time-consuming to identify all instances, as examples contrary to this RFE are quite common. If it were only one or two pages, I'd have submitted a PR already.

If I make some *very naïve* assumptions, the set of english-language docs pages returned by ` egrep -r '[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+'| grep -v -e '127\.0\.0' -e '192\.0\.2\.' -e '198\.51\.100\.' -e '203\.0\.113\.' | cut -f1 -d:|sort |uniq |grep '\.md$'` needs to be reviewed, should this become policy. That set (under `content/en/docs`) is:

```
concepts/architecture/cgroups.md
concepts/architecture/nodes.md
concepts/cluster-administration/manage-deployment.md
concepts/cluster-administration/system-logs.md
concepts/configuration/manage-resources-containers.md
concepts/configuration/overview.md
concepts/scheduling-eviction/pod-scheduling-readiness.md
concepts/security/security-checklist.md
concepts/services-networking/cluster-ip-allocation.md
concepts/services-networking/dns-pod-service.md
concepts/services-networking/dual-stack.md
concepts/services-networking/endpoint-slices.md
concepts/services-networking/ingress-controllers.md
concepts/services-networking/ingress.md
concepts/services-networking/network-policies.md
concepts/services-networking/service.md
concepts/services-networking/topology-aware-routing.md
concepts/storage/persistent-volumes.md
concepts/storage/storage-classes.md
concepts/workloads/pods/init-containers.md
contribute/style/style-guide.md
reference/access-authn-authz/admission-controllers.md
reference/access-authn-authz/authentication.md
reference/access-authn-authz/bootstrap-tokens.md
reference/command-line-tools-reference/kube-apiserver.md
reference/command-line-tools-reference/kube-controller-manager.md
reference/command-line-tools-reference/kubelet.md
reference/command-line-tools-reference/kube-proxy.md
reference/command-line-tools-reference/kube-scheduler.md
reference/config-api/kubeadm-config.v1beta3.md
reference/config-api/kubeadm-config.v1beta4.md
reference/config-api/kube-controller-manager-config.v1alpha1.md
reference/config-api/kubelet-config.v1beta1.md
reference/config-api/kube-proxy-config.v1alpha1.md
reference/kubectl/docker-cli-to-kubectl.md
reference/kubectl/kubectl.md
reference/kubernetes-api/cluster-resources/cluster-cidr-v1alpha1.md
reference/kubernetes-api/policy-resources/ip-address-v1alpha1.md
reference/kubernetes-api/policy-resources/network-policy-v1.md
reference/kubernetes-api/service-resources/endpoints-v1.md
reference/kubernetes-api/workload-resources/pod-v1.md
reference/labels-annotations-taints/_index.md
reference/networking/virtual-ips.md
reference/setup-tools/kubeadm/generated/kubeadm_init.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
reference/setup-tools/kubeadm/generated/kubeadm_join.md
reference/setup-tools/kubeadm/implementation-details.md
reference/setup-tools/kubeadm/kubeadm-join.md
setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
setup/production-environment/tools/kubeadm/dual-stack-support.md
setup/production-environment/tools/kubeadm/high-availability.md
setup/production-environment/tools/kubeadm/kubelet-integration.md
setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
tasks/access-application-cluster/access-cluster.md
tasks/access-application-cluster/configure-access-multiple-clusters.md
tasks/access-application-cluster/connecting-frontend-backend.md
tasks/access-application-cluster/create-external-load-balancer.md
tasks/access-application-cluster/ingress-minikube.md
tasks/access-application-cluster/port-forward-access-application-cluster.md
tasks/access-application-cluster/service-access-application-cluster.md
tasks/administer-cluster/access-cluster-api.md
tasks/administer-cluster/configure-upgrade-etcd.md
tasks/administer-cluster/declare-network-policy.md
tasks/administer-cluster/dns-custom-nameservers.md
tasks/administer-cluster/dns-debugging-resolution.md
tasks/administer-cluster/encrypt-data.md
tasks/administer-cluster/ip-masq-agent.md
tasks/administer-cluster/kubelet-config-file.md
tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md
tasks/administer-cluster/namespaces-walkthrough.md
tasks/administer-cluster/network-policy-provider/weave-network-policy.md
tasks/administer-cluster/nodelocaldns.md
tasks/configure-pod-container/assign-pods-nodes.md
tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
tasks/configure-pod-container/static-pod.md
tasks/configure-pod-container/translate-compose-kubernetes.md
tasks/debug/debug-application/debug-running-pod.md
tasks/debug/debug-application/debug-service.md
tasks/debug/debug-cluster/crictl.md
tasks/debug/debug-cluster/_index.md
tasks/debug/debug-cluster/windows.md
tasks/extend-kubernetes/http-proxy-access-api.md
tasks/inject-data-application/define-command-argument-container.md
tasks/inject-data-application/define-environment-variable-container.md
tasks/inject-data-application/define-interdependent-environment-variables.md
tasks/inject-data-application/environment-variable-expose-pod-information.md
tasks/job/coarse-parallel-processing-work-queue.md
tasks/network/customize-hosts-file-for-pods.md
tasks/network/validate-dual-stack.md
tasks/run-application/access-api-from-pod.md
tasks/run-application/run-replicated-stateful-application.md
tasks/tls/managing-tls-in-a-cluster.md
tutorials/hello-minikube.md
tutorials/security/seccomp.md
tutorials/services/connect-applications-service.md
tutorials/services/pods-and-endpoint-termination-flow.md
tutorials/services/source-ip.md
tutorials/stateful-application/basic-stateful-set.md
tutorials/stateful-application/cassandra.md
tutorials/stateful-application/mysql-wordpress-persistent-volume.md
tutorials/stateless-application/expose-external-ip-address.md
tutorials/stateless-application/guestbook.md
```

i.e. we explicitly look for IPv4-address-like objects, assuming all of them are in dotted-decimal format, elimiate link-local and things *very likely* to match the 3 IPv4 documentation networks, and assume that all problematic examples are in the markdown documentation (and not SVGs or other files).

Things this *doesn't* address: several instances of `fd00::/8` addresses used in IPv6 examples (where `2001:db8::/32` should be used), and instances when a resolvable dns name is an acceptable argument in commands.

To be clear, I did not review *any* non-english documentation for this. I do not feel I could correctly identify context in order to update documentation in other languages.

> Without manually perusing or a very complex regex it is time-consuming to identify all instances, as examples contrary to this RFE are quite common. If it were only one or two pages, I'd have submitted a PR already.

thanks for this!

> To be clear, I did not review any non-english documentation for this. I do not feel I could correctly identify context in order to update documentation in other languages.

in most cases, !en languages are fork-translated from en - i.e. en is the translation source.



Good current practice is to use RFC1918 addresses where that is typical, and to use RFC 5737 addresses in place of public IP addresses.

We **don't** plan to replace all RFC1918 addresses with documentation IP addresses. This means that (for example) https://k8s.io/docs/tutorials/hello-minikube/ needs no fix.

For IPv6 we use RFC 3849 addresses unless context makes it inappropriate (eg you are specifying a link local address).

However, the style guide doesn't yet say so. A write up is welcome.

/retitle Use reserved documentation names and addresses where possible

/priority awaiting-more-evidence
because I think we should codify https://github.com/kubernetes/website/issues/43568#issuecomment-1773044671 instead

/sig docs

The Kubernetes project currently lacks enough contributors to adequately respond to all issues.

This bot triages un-triaged issues according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Mark this issue as fresh with `/remove-lifecycle stale`
- Close this issue with `/close`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle stale

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/

The Kubernetes project currently lacks enough active contributors to adequately respond to all issues.

This bot triages un-triaged issues according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Mark this issue as fresh with `/remove-lifecycle rotten`
- Close this issue with `/close`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle rotten

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/

The Kubernetes project currently lacks enough active contributors to adequately respond to all issues and PRs.

This bot triages issues according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Reopen this issue with `/reopen`
- Mark this issue as fresh with `/remove-lifecycle rotten`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/close not-planned

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/