TLS Secrets, Note in documentation is confusing

There's a note at the end of the section that states: 

> Note:
> A kubernetes.io/tls Secret stores the Base64-encoded DER data for keys and certificates. If you're familiar with PEM format for private keys and for certificates, the base64 data are the same as that format except that you omit the initial and the last lines that are used in PEM.
> 
> For example, for a certificate, you do not include --------BEGIN CERTIFICATE----- and -------END CERTIFICATE----.

But right before that, 

> When creating a TLS Secret using kubectl, you can use the tls subcommand as shown in the following example:
> 
> kubectl create secret tls my-tls-secret \
>   --cert=path/to/cert/file \
>   --key=path/to/key/file
> The public/private key pair must exist before hand. The public key certificate for --cert must be DER format as per [Section 5.1 of RFC 7468](https://datatracker.ietf.org/doc/html/rfc7468#section-5.1), and must match the given private key for --key (PKCS #8 in DER format; [Section 11 of RFC 7468](https://datatracker.ietf.org/doc/html/rfc7468#section-11)).

If you try to kubectl create secret those files without the PEM boundaries, you'll get: 
```
kubectl create secret tls test-tls --cert=./localhost.pem --key=./localhost-key.pem
error: tls: failed to find any PEM data in certificate input
```

If you pass in the files with the PEM boundary, the secret gets created. However, upon inspecting the value of the secret in the k8's dashboard, the secret value will include the PEM boundary. Now from the Note I would've expected to only see the base64 data without the first/last lines. 

Also if you follow the instructions in the note and pass the .crt/.key in a yml file as the Note states, inspecting in the dashboard shows the values in it's binary DER form. Which is unexpected because the Note states it would've been in it's base64 encoded DER form.  

So what is confusing is if you look at the code for kubectl, 

https://github.com/kubernetes/kubernetes/blob/7380fc735aca591325ae1fabf8dab194b40367de/staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go#L245
```
	tlsCert, err := readFile(o.Cert)
	if err != nil {
		return nil, err
	}
	tlsKey, err := readFile(o.Key)
	if err != nil {
		return nil, err
	}
	if _, err := tls.X509KeyPair(tlsCert, tlsKey); err != nil {
		return nil, err
	}
	// TODO: Add more validation.
	// 1. If the certificate contains intermediates, it is a valid chain.
	// 2. Format etc.

	secretTLS := newSecretObj(o.Name, namespace, corev1.SecretTypeTLS)
	secretTLS.Data[corev1.TLSCertKey] = []byte(tlsCert)
	secretTLS.Data[corev1.TLSPrivateKeyKey] = []byte(tlsKey)
```
It will basically just save the content from the files. 

So is kubectl doing the wrong thing? Should it have saved only the base64 encoded part of the .PEM files? Or Is the note out of date? 



There's a difference between the data you provide to the `kubectl` tool and the data that Kubernetes then stores in the Secret API.
Secret `data` is always encoded using Base64; there is also a `stringData` field that you can use if the information is actually a string, but that's not relevant to X.509 certificates.

There's clearly a discrepancy here. What you've found with `kubectl create secret` implies that a kubernetes.io/tls Secret should be PEM-encoded (and then base64 encoded by Kubernetes).
https://cloud.google.com/kubernetes-engine/docs/concepts/secret implies the same thing, that a kubernetes.io/tls Secret should be PEM-encoded (and then stored base64-encoded|)

I think the docs are wrong. It's a bit of a wonky design with two lots of base64 encoding, but that's the design we should document.

You _can_ store arbitrary data into a Secret of type `kubernetes.io/tls` (including DER data) but that doesn't mean it's what consumers of that Secret type would expect.

The change we should make is to the text you have quoted
> 

/language en
/sig auth
/kind bug
/triage accepted
/priority important-longterm

@sftim Awesome, thanks for clearing that up. 


I added content to clarify this. This is summarized in [this comment](https://github.com/kubernetes/website/pull/34168#issuecomment-1165873366)

I [replied](https://github.com/kubernetes/website/pull/34168#issuecomment-1166369661).

The Kubernetes project currently lacks enough contributors to adequately respond to all issues and PRs.

This bot triages issues and PRs according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Mark this issue or PR as fresh with `/remove-lifecycle stale`
- Mark this issue or PR as rotten with `/lifecycle rotten`
- Close this issue or PR with `/close`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle stale

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/

The Kubernetes project currently lacks enough active contributors to adequately respond to all issues and PRs.

This bot triages issues and PRs according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Mark this issue or PR as fresh with `/remove-lifecycle rotten`
- Close this issue or PR with `/close`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle rotten

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/

The issue has been marked as an important bug and triaged.
Such issues are automatically marked as frozen when hitting the rotten state
to avoid missing important bugs.

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle frozen

/sig security